PULUMI_ACCESS_TOKEN=<your pulumi access token>
TELEGRAM_BOT_TOKEN=<your telegram bot token>
AWS_ACCESS_KEY_ID=<your aws access key id>
AWS_SECRET_ACCESS_KEY=<your aws secret key>
GOOGLE_CREDENTIALS=<your gcp credentials>
